
$body-bg: #ffffff;

$body-color: #363B3F;
$secondary: #a7a7a8;

$primary: #1f519c;
$danger: #f43a66;

$navbar-light-active-color: $primary;
$navbar-nav-link-padding-x: .75rem;
$breadcrumb-font-size: 0.8rem;

$font-weight-normal: 500;