

$gradient-light-0: linear-gradient(0deg, #FFD28D, #FFB470);
$gradient-light-90: linear-gradient(90deg, #FFD28D, #FFB470);
$gradient-dark-0: linear-gradient(0deg, #FF9E74, #FF4F4F);
$gradient-dark-90: linear-gradient(90deg, #FF9E74, #FF4F4F);

$custom-colors: (
  // "style-green-darkest": $color-primary-green,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Основной шрифт
$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
