

.widget-services {

    .widget-services-items {
        a {
            background: rgba(var(--bs-secondary-rgb),0.2);
            text-decoration: none;
            padding: 20px;
            display: block;
            border-radius: 8px;
        }
    }

}